# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Node modules
node_modules/

# OS
.DS_Store
Thumbs.db

# Expo
.expo/
.expo-shared/

# Babel
babel.config.js

# TypeScript
*.tsbuildinfo

# Build
build/
dist/

# iOS
ios/Pods/
ios/build/
*.xcworkspace
*.xcuserstate
*.xcuserdata/
ios/DerivedData/

# Android
android/.gradle/
android/app/build/
android/build/
*.iml
.gradle
local.properties

# React Native
*.keystore
*.hprof
*.swp
*.idea/
*.vscode/
*.expo/

# Environment
.env
.env.*.local

# Metro cache
.metro-cache/
.cache/

# Watchman
.watchmanconfig

# Misc
coverage/
